<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sean Marman</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="icon" type="image/png" href="../static/assets/icon.png">
</head>
<body>
    <head>
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/work"><li>Work</li></a>
                <a href="/about"><li>About</li></a>
            </ul>
        </nav>
    </head>
    {% block body %}{% endblock %} 
    <footer>
       <nav>
            <ul>
                <li>footer1</li>
                <li>foot2</li>
                <li>foot3</li>
            </ul>
        </nav>
    </head>
    </footer>
</body>
</html>
